<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Blog</title>
</head>
<body>
    <form action="/create" method="POST">
        Tên blog: <input type="text" name="title">
        Nội dung blog: <input type="text" name="body">
        <input type="submit" value="Tạo blog">
    </form>
</body>
</html>